{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7 no-js"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8 no-js"><![endif]-->
<!--[if IE 9 ]><html class="ie ie9 no-js"><![endif]-->
<head> <title>Trabajitos</title><meta charset="utf-8"><meta name="author" content="Diego Renedo" >
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1" >
<meta name="description" content="Gestor de trabajos" >
<script src={% static "js/jquery-1.10.2.min.js" %}></script>
<script src={% static "js/underscore-min.js" %}></script>
<script src={% static "js/backbone-min.js" %}></script>
<script src={% static "js/jquery-ui-1.10.3.custom.min.js" %}></script>
<script src={% static "js/app.js" %}></script>
<link type="text/css" rel="stylesheet" media="all" href="{% static "css/main.css" %}">
</head>

<body><nav class="header"><a href="/"><h1>Trabajitos</h1></a></nav>