{% load i18n %}

{% include 'uheader.html' %}
<script type="text/javascript">
	var allMsg='{% trans "all" %}';
	var goodMsg='{% trans "good" %}';
    var comerror='{% trans "comunication-error" %}';
</script>
<script type="text/template" id="alerts_template">
    <% _.each(alerts, function(alert) { %>
        <div id=alert<%= alert.pk %> class=search>
            <div class=prov><%= alert.fields.provinces %></div>
            <div class=close onclick='javascript:alertdelete(<%= alert.pk %>)'>X</div>
            <div class=words><%= alert.fields.words %></div>
        </div>
    <% }); %>
</script>
<script type="text/template" id="searchs_template">
    <% _.each(searchs, function(search) { %>
        <div id=search<%= search.pk %> class=search>
            <div class=prov><%= search.fields.provinces %></div>
            <div class=close onclick='javascript:adelete(<%= search.pk %>)'>X</div>
            <div class=words><%= search.fields.words %></div>
        </div>
    <% }); %>
</script>
<script type="text/template" id="finds_template">
    <% _.each(finds, function(find) { %>
        <div id=find<%= find.id %>
                onclick=getTries(<%= find.id %>) class="find
				<% if (find.efective > 0) { %>
    				hasjobs
				<% } %>
            ">
            <div class=meta>
                <span class=words1><%= find.words %></span>
                <span class=provinces><%= find.provinces %></span>
            </div>
            <div class=date><%= find.date %></div>
            <div class=results>
                <span class=total>Total:<%= find.total %></span>
                <span class=efective>Efective:<%= find.efective %></span>
            </div>
        </div>
        <div class=perc style="width:<% if (find.efective > 0) { %><%= (find.efective*100)/find.total %>%<% }else{ %>0%;height:0;<% } %>"></div>
        <ul id=to<%= find.id %> class=hidden ></ul>
    <% }); %>
</script>
<script type="text/template" id="jobs_template">
    <% _.each(jobs, function(job) { %>
        <li id=job<%= job.pk %> class=job>
            <a class=ljob href="<%= job.fields.url %>" ><%= job.fields.title %></a> - <%= job.fields.company %>
			<div><%= job.fields.description %></div>
        </li>
    <% }); %>
</script>
<script type="text/template" id="jalerts_template">
    <% _.each(jalerts, function(jalert) { %>
        <div id=job<%= jalert.pk %> class=job>
            <a href="<%= jalert.fields.url %>" ><%= jalert.fields.title %></a> - <%= jalert.fields.company %>
			<div><%= jalert.fields.description %></div>
        </div>
    <% }); %>
</script>
<nav id=statistics>{% trans "total" %}:{{total}} - {% trans "last-30days" %}:{{partial}}</nav>
<div id=home>
    <div id=account>{% trans "ijaccount" %}</div>
    <div id=aaccount>
        <form id=addfind action="/changeaccount/" method="post">
            {% csrf_token %}
            <fieldset class=mark>
                <ul>
			<li>
                                <div>
                                <label for=update>{% trans "update" %}</label>
                                <input id=update name=update type=checkbox placeholder="{% trans "update" %}" {% if update %}checked=checked{% endif %} />
                                </div>
                        </li>
			<li>
				<label for=login>{% trans "login" %}</label>
				<input id=login name=login type=text placeholder="{% trans "login" %}" value="{{login}}" required autofocus />
			</li>
			<li>
				<label for=password>{% trans "pass" %}</label>
				<input id=password name=password type=text placeholder="{% trans "pass" %}" value="{{password}}" required autofocus />
			</li>
                        <li id=ssaddfind>
				<input id=modify name=modify type=submit value={% trans "modify" %}>
			</li>
                </ul>
            </fieldset>
        </form>
    </div>
    <div id=find>{% trans "find" %}</div>
    <div id=afind>
        <form id=addfind action="/addfind/" method="post">
        {% csrf_token %}
            <fieldset class=mark>
		<legend>{% trans "addfind" %}</legend>
                <ul>
			<li>
				<label for=name>{% trans "words" %}</label>
				<input id=words name=words type=text placeholder="{% trans "words" %}" required autofocus>
			</li>
			<li>
				<label for=name>{% trans "provinces" %}</label>
				<input id=provinces name=provinces type=text placeholder="{% trans "provinces" %}" required autofocus>
			</li>
			<li>
				<label for=name>{% trans "wfilter" %}</label>
				<input id=non name=non type=text placeholder="{% trans "wfilter" %}" autofocus>
			</li>
			<li>
				<label for=name>{% trans "lfilter" %}</label>
				<input id=non name=locations type=text placeholder="{% trans "lfilter" %}" autofocus>
			</li>
                        <li id=ssaddfind>
				<input id=add name=add type=submit value={% trans "badd" %}>
			</li>
                </ul>
                <div id=searchs></div>
            </fieldset>
        </form>
    </div>
    <div id=alert>{% trans "alerts" %}</div>
    <div id=aalert>
        <form id=addalert action="/addalert/" method="post">
        	{% csrf_token %}
            <fieldset class=mark>
				<legend>{% trans "addalert" %}</legend>
                <ul>
					<li>
						<label for=name>{% trans "words" %}</label>
						<input id=words name=words type=text placeholder="{% trans "words" %}" required autofocus>
					</li>
					<li>
						<label for=name>{% trans "provinces" %}</label>
						<input id=provinces name=provinces type=text placeholder="{% trans "provinces" %}" required autofocus>
					</li>
					<li id=ssaddfind>
						<input id=add name=add type=submit value={% trans "badd" %}>
					</li>
                </ul>
                <div id=alerts></div>
        </form>
    </div>
</div>
<div id=data>
</div>
<div id=loader></div>
{% include 'footer.html' %}
