body{    
    background-color: #FFFFFF;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
}
h1{
    color: #365DA0;
    font-size: 34px;
    padding: 12PX;
    margin: 0px;
}
.header{
    background-color: #81DAF5;
}
.mark{
    border:3px solid #81DAF5;
}
#navigation{
    background: #848484;
    text-align: right;
    padding: 0 2% 0 2%;
}
#navigation a{
    font-size: 14px;
    font-weight: bold;
    padding: 1% 1% 0 1%;
    margin: 2px;
    color: white;
    background: #848484;
    text-decoration:none;
}
#navigation a:hover{
    font-size: 14px;
    font-weight: bold;
    padding: 1% 1% 0 1%;
    margin: 2px;
    background: white;
    color: #365DA0;
    text-decoration:none;
}
#sslogin{
    padding-top: 5%;
}

#slogin{
    float:right;
}

#errors li{
    color: red;
    list-style: none;
}

#dlogin{
    position:absolute;
    width:50%;
    height:50%;
    z-index:15;
    top:50%;
    left:50%;
    margin:-10% 0 0 -10%;
    max-width: 400px;
    max-height: 300px;
}

#home{
    width: 28%;
    /*min-width: 180px;*/
    float: left;
}
#home ul{
    list-style-type: none;
    padding: 0;
}
#home ul input[type="text"]{
    float: right;
    width: 45%;
}
#home ul label{
    float: left;
    width: 45%;
}

#data{
    width: 70%;
    /*min-width: 360px;*/
    float: right;
}

#data li{
    line-height: 100%;
    list-style: none;
}
footer{
    position:fixed;
    bottom:0;
    padding: 5px;
    float: right;
}

form#login ol li {
    line-height: 100%;
    width: 100%;
    margin: 0 auto;
    line-height: 30px;
    list-style: none;
}

form#addfind ol li {
    line-height: 100%;
    width: 100%;
    margin: 0 auto;
    line-height: 30px;
    list-style: none;
}

form#login{
    padding: 20px;
}

form#login input{
    width:50%;
    min-width: 70px;
}

form#login fieldset{
    border: none;
    margin-bottom: 10px;
    background: #848484;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    line-height: 30px;
    
}

form#login fieldset:last-of-type {
    margin-bottom: 0;
}

form#login legend {
    color: black;
    font-size: 26px;
    font-weight: bold;
}

form#login label {
    color: white;
    float: left;
    font-size: 13px;
    width: 30%;
}

#find{
    cursor: pointer;
    padding: 0 0 0 1%;
    background: #81DAF5;
}
#afind{
    display: none;
}

#account{
    cursor: pointer;
    padding: 0 0 0 1%;
    background: #81DAF5;
}
#aaccount{
    display: none;
}

#alert{
    cursor: pointer;
    padding: 0 0 0 1%;
    background: #81DAF5;
}
#aalert{
    display: none;
}
#loader{
    background: url(../images/ploader.gif) no-repeat center;
    width: 70%;
    float: right;
    height: 30px;
    display: none;
}
.search{
    width: 100%;
}

.prov{
    float:left;
    padding-right: 10%;
}
.words{
    margin:0 auto;
}
.close{
    float:right;
    cursor: pointer;
}

.find{
	border-bottom : 3px solid #c7d7e0;
    margin: 0;
}
.hasjobs{
    cursor: pointer;
    background: #bcc0c3;
	color:#424242;
	font-weight:bold;
}
.perc{
	background: #365DA0;
	height: 4px;
}
.results{
    margin: 0 auto;
    padding-right: 1%;
    width: 30%;
}
.meta{
    float:left;
    padding-right: 1%;
    margin: 0 auto;
    width: 30%;
}
.date{
    float:right;
    padding-right: 1%;
    width: 30%;
}
.words1{
    float: right;
    width: 45%;
}
.provinces{
    width: 45%;
}
.total{
    float: right;
    width: 45%;
}
.efective{
    width: 45%;
}

.hidden{
    display: none;
}

.ljob:link, .ljob:visited, .ljob:active{
	font-weight:bold;
	color:#365DA0;
	text-decoration: none;
}
.ljob:hover{
	font-weight:bold;
	color:red;
}
#data ul li{
	border-bottom : 3px solid #c7d7e0;
	/*list-style: square url("/static/images/jobHeader.png");*/
}
#data ul{
    background-image:url('/static/images/blueshadow.png');
    background-repeat:repeat-y;
    margin: 0;
}
#statistics{
    padding: 0 0 0 1%;
    background-image:url('/static/images/sbackground.png');
    background-repeat:repeat-x;
    color: #365DA0;
    font-weight: bold;
}

@media(max-width: 620px)
{
    #home{clear:both;width:100%; min-width:100%;float:clear}
    #data{clear:both;width:100%; min-width:100%;float:clear}
    footer{display:none}
}